<button
  [type]="type()"
  class="w-full flex items-center justify-center gap-3 py-4 px-6 rounded-xl font-cairo font-semibold tracking-wide transition-all duration-200 active:scale-[0.99] group shadow-lg text-base"
  [class]="
    buttonStyle() == btnStyle.btnWhite
      ? ' bg-white text-navy-900 hover:bg-navy-50'
      : buttonStyle() == btnStyle.btnNavy
        ? ' bg-navy-900 dark:bg-navy-700 hover:bg-navy-800 dark:hover:bg-navy-600 text-white  shadow-navy-900/20 dark:shadow-navy-950/40'
        : buttonStyle() == btnStyle.btnRed
          ? ' bg-red-600 hover:bg-red-700 text-white shadow-red-600/20'
          : ''
  "
>
  <span [class.hidden!]="isLoading()">{{ message() }}</span>
  <ng-content select="[icon]"></ng-content>
  <i [class.hidden!]="!isLoading()" class="fa-solid fa-spinner fa-spin-pulse"></i>
</button>
