<div class="overflow-x-auto rounded-lg border border-navy-100 dark:border-gray-800">
  <table class="w-full border-collapse text-center">
    <thead>
      <tr class="border-b-2 border-navy-100 dark:border-gray-800 bg-navy-50 dark:bg-gray-900">
        @for (header of headers(); track $index) {
          <th class="px-4 py-3 text-sm font-bold text-navy-900 dark:text-white">
            {{ header }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>

  @if (isEmpty()) {
    <div class="text-center py-12 bg-navy-50 dark:bg-gray-900">
      <i [class]="'fa-solid ' + emptyIcon() + ' text-4xl text-navy-300 dark:text-gray-700 mb-3'"></i>
      <p class="text-navy-600 dark:text-gray-400 mt-3">{{ emptyMessage() }}</p>
    </div>
  }
</div>
